{% extends 'main.html' %} {% block title %}
    <title>OpenAI Image Generator</title>
    {% endblock title %} {% block body %}  
<div class="imageblock">
<div class="container my-4">
  <h2>Image Generator</h2>
    <form>
  <div class="row">
    <!-- <label for="exampleInputEmail1" class="form-label">Enter your Prompt to generate Image</label> -->
    <input id="imgprompt" type="text" class="col-10" aria-describedby="emailHelp" placeholder="Enter your Prompt to generate Image">
    <!-- <div  class="form-text">We'll fetch the image from OpenAI</div> -->
    <button id="submitbtn" type="submit" class="btn btn-primary col-1"><i class="fa" id="loadingGif"></i> Go</button>
  </div>
  <!-- <button id="submitbtn" type="submit" class="btn btn-primary"><i class="fa" id="loadingGif"></i>Submit</button> -->
</form>

   <div class="container my-4">

    <div class="row imageCont">
          
    </div>
</div>
</div>
</div>
        <div class="size">
          
        </div>
{% endblock body %}
   