<!-- {% extends 'main.html' %} {% block title %}
<title>Login Page</title>
{% endblock title %} {% block body %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  <strong>Message</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %} {% endif %} {% endwith %} 
<section class="h-100">
  <div class="my-login-page">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <form method="POST" action="/login">
                <div class="form-group">
                  <label for="example@gmail.com">E-Mail Address</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="exampleInputEmail"
                    required
                  />
                  <div class="invalid-feedback">Your email is invalid</div>
                </div>

                <div class="form-group">
                  <label for="exampleInputpassword">Password</label>
                  <input
                    id="password"
                    type="password"
                    name="password"
                    class="form-control"
                    required
                    data-eye
                  />
                  <div class="invalid-feedback">Password is required</div>
                </div>
                <div class="form-group m-0">
                  <button type="submit" class="btn btn-primary btn-block">
                    login
                  </button>
                </div>
                <div class="mt-4 text-center">
                  Not have an account? <a href="/register">Signup</a>
                </div>
              </form>
            </div>
          </div>
          <div class="footer">Copyright &copy; 2017 &mdash; Your Company</div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock body %} -->
